<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=JAVA_WEB</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">12345</property>
    <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping class="models.ChiTietHoaDon"/>
    <mapping class="models.DanhGia"/>
    <mapping class="models.DanhGiaId"/>
    <mapping class="models.Giay"/>
    <mapping class="models.QuanTri"/>
    <mapping class="models.KhachHang"/>
    <mapping class="models.HangGiay"/>
    <mapping class="models.LoaiGiay"/>
    <mapping class="models.ChiTietHoaDonId"/>
    <mapping class="models.ChiTietGioHangId"/>
    <mapping class="models.TaiKhoan"/>
    <mapping class="models.ChiTietGioHang"/>
    <mapping class="models.GioHang"/>
    <mapping class="models.HinhAnh"/>
    <mapping class="models.HoaDon"/>
  </session-factory>
</hibernate-configuration>
